<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>深拷贝浅拷贝练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C48330D01F57AD3300B04CD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C48330E91F57AD3300B04CD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C48330F41F57AD3300B04CD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
